{% extends 'index.html' %}

{% block content %}
<div class="content-table">
  <table class="table" border="1" width="80%">
    <tr>
      <th>ID</th>
      <th>Codigo pedido</th>
      <th>Fecha creacion</th>
      <th>Hora creacion</th>
      <th>Estado</th>
      <th>Evidencias</th>
      <th>Descripcion</th>
      <th>ID cliente</th>
      <th>ID empleado</th>
      <th>ID producto</th>
    </tr>
    {% for i in datos %}
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.codigo_pedido }}</td>
      <td>{{ i.fecha_creacion }}</td>
      <td>{{ i.hora_creacion }}</td>
      <td>{{ i.estado }}</td>
      <td>{{ i.evidencias }}</td>
      <td>{{ i.descripcion }}</td>
      <td>{{ i.id_cliente_id }}</td>
      <td>{{ i.id_empleado_id }}</td>
      <td>{{ i.id_producto_id }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
