{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Gestion KanView</title>
</head>
<body>
    <div class="sidebar close">
      <div class="logo-details">
        <span class="logo_name">KanView</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="{% url 'clientes' %}">
            <i class="bx bx-user"></i>
            <span class="link_name">Clientes</span>
          </a>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-id-card"></i>
              <span class="link_name">Empleados</span>
            </a>
          </div>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cart"></i>
            <span class="link_name">Pedidos</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-calendar"></i>
            <span class="link_name">Calendario</span>
          </a>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-history"></i>
              <span class="link_name">Historiales</span>
            </a>
          </div>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-task"></i>
            <span class="link_name">Tareas</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-pulse"></i>
            <span class="link_name">Actividades</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-store"></i>
            <span class="link_name">Inventario</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-box"></i>
            <span class="link_name">Productos</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-book-open"></i>
            <span class="link_name">Catalogo</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-bar-chart-alt-2"></i>
            <span class="link_name">Analisis financiero</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="link_name">Administrador</span>
          </a>
        </li>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <div class="home-content">
        <i class="bx bx-menu"></i>
      </div>
      <div class="main-content">
        {% block content %}
        {% endblock%}
      </div>
    </section>
    <script>
      let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {
          let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
          arrowParent.classList.toggle("showMenu");
        });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });
    </script>
    
</body>
</html>